@use '@/style/package' as *;

.searchBar {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  input {
    border: none;
    width: 15rem;
    font-size: 16px;
    background: bottom;
    color: $color-white;
    text-align: center;
  }
  input::placeholder {
    color: $color-white;
  }

  img {
    width: 20px;
    fill: $color-white;
  }
}
