@import '@/style/package';

.bookmark {
  a {
    transition: 0.1s;

    &:hover {
      .name {
        color: $color-gray-100;
      }
    }
    
    img {
      display: block;
      width: 7.5rem;
      height: 7.5rem;
      border-radius: 100%;
      background-color: $color-white;
      margin-bottom: 4px;
    }

    .name {
      $line-height: 1.8rem;

      text-align: center;
      color: $color-white;
      font-size: 1.6rem;
      line-height: $line-height;
      height: $line-height * 2;
      max-height: $line-height * 2;
      overflow-y: hidden;
    }
  }
}