@use '@/style/package' as *;

.restaurant-title {
  border-bottom: 0.1rem solid $color-white;
  padding: 1.2rem 1rem;

  .main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 0.025em;
    color: $color-white;
  }
  .subject-title {
    padding-left: 1rem;
  }
  .sub {
    display: grid;
    padding-top: 0.8rem;
    font-size: 1.5rem;
    font-weight: 300;
    color: $color-white;
    letter-spacing: -0.025;
    margin-right: 0.8rem;
  }
}
