@use '@/style/package' as *;

.add-bookmark[data-component] {
  width: 7.5rem;
  font-size: 7.5rem;

  i {
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.5em;
    width: 2em;
    height: 2em;
    border-radius: 100%;
    background-color: rgba($color-gray-50, 0.8);
    color: $color-gray-600;
    cursor: pointer;

    &:hover {
      background-color: $color-gray-100;
      color: $color-gray-800;
    }
  }
}
