@use '@/style/package' as *;

.display-time {
  display: flex;
  align-items: baseline;
  margin-right: 1.6rem;

  .value-wrapper {
    position: relative;
    font-weight: 600;

    .next-value {
      position: absolute;
      top: 0;
      right: 0;
    }

    .current-value,
    .next-value {
      display: flex;
      justify-content: flex-end;
      font-size: 10.5rem;
      line-height: 1.2em;
      color: $color-gray-50;
      text-align: center;

      div {
        span {
          display: inline-block;
          width: 6.9rem;
        }
      }
    }
  }

  .unit {
    font-size: 3.2rem;
    font-weight: 500;
    color: $color-gray-50;
    margin-left: 0.4rem;
  }
}
