$main-font: 'PAYW Pro';
$font-size: 10px;

$color-white: #ffffff;
$color-black: #000000;

$color-red-lighten-5: #ffebee;
$color-red-lighten-4: #ffcdd2;
$color-red-lighten-3: #ef9a9a;
$color-red-lighten-2: #e57373;
$color-red-lighten-1: #ef5350;
$color-red-lighten-0: #f44336;
$color-red-darken-4: #b71c1c;
$color-red-darken-3: #c62828;
$color-red-darken-2: #d32f2f;
$color-red-darken-1: #e53935;

$color-blue-lighten-5: #e3f2fd;
$color-blue-lighten-4: #bbdefb;
$color-blue-lighten-3: #90caf9;
$color-blue-lighten-2: #64b5f6;
$color-blue-lighten-1: #42a5f5;
$color-blue-lighten-0: #2196f3;
$color-blue-darken-4: #0d47a1;
$color-blue-darken-3: #1565c0;
$color-blue-darken-2: #1976d2;
$color-blue-darken-1: #1e88e5;

$color-gray-50: #fafafa;
$color-gray-100: #e6e6e6;
$color-gray-200: #cccccc;
$color-gray-300: #b3b3b3;
$color-gray-400: #999999;
$color-gray-500: #808080;
$color-gray-600: #666666;
$color-gray-700: #4d4d4d;
$color-gray-800: #333333;
$color-gray-900: #1a1a1a;

$color-close: rgba($color-black, 0.4);
$color-open: rgba($color-black, 0.6);
