@use '@/style/package' as *;

.todo-container[data-component] {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  background-color: rgba($color-black, 0.5);
  padding: 1rem 1.2rem;
  width: 25rem;
  border-radius: 0.8rem;

  &.plus {
    i {
      &.plus {
        display: block;
      }

      &.minus {
        display: none;
      }
    }
  }

  &.minus {
    i {
      &.plus {
        display: none;
      }

      &.minus {
        display: block;
      }
    }
  }

  > .title-wrapper {
    user-select: none;

    .title {
      font: {
        size: 2rem;
        weight: 500;
      }
      letter-spacing: 0.025em;
      color: $color-white;
    }

    i {
      color: $color-white;
      font-size: 2.6rem;
      cursor: pointer;
      user-select: none;
    }
  }

  .section-container {
    transition: height ease-in-out 0.5s;
    max-height: 45vh;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none !important;
    }

    > div {
      padding-top: 1rem;
      display: grid;
      grid-template-columns: 1fr;

      .todo-section {
        padding-top: 1.2rem;
        border-top: 0.1rem solid $color-white;

        &:not(:last-child) {
          .todo-container > div {
            padding-bottom: 2.4rem;
          }
        }
      }
    }
  }
}
