@use '@/style/package' as *;

.todo-section[data-component] {
  .head {
    margin-bottom: 1.2rem;

    .title-wrapper {
      .title {
        font: {
          size: 1.5rem;
          weight: 500;
        }
        color: $color-white;
        letter-spacing: -0.025;
        margin-right: 0.8rem;
      }

      .add-btn {
        font-size: 1.2rem;
        color: $color-gray-800;
        padding: 0.1rem 0.5rem;
        border-radius: 0.4rem;
        background-color: $color-gray-100;
        cursor: pointer;
        user-select: none;
      }
    }

    .toggle {
      i {
        font-size: 1.8rem;
        color: $color-white;
        cursor: pointer;
        user-select: none;

        &.down {
          transform: rotate(180deg);
        }
      }
    }
  }

  .todo-container {
    transition: ease-in-out 0.5s;
    overflow-y: hidden;

    > div {
      display: grid;
      grid-template-columns: 1fr;
      gap: 0.8rem;
    }
  }
}
