.display-time {
  display: flex;
  align-items: baseline;
  letter-spacing: 0.025em;
  font-weight: 600;
  margin-right: 16px;

  .value-wrapper {
    position: relative;

    .next-value {
      position: absolute;
      top: 0;
      right: 0;
    }

    .current-value,
    .next-value {
      display: flex;
      justify-content: flex-end;
      font-size: 84px;
      line-height: 1.2em;
      color: #111;
      text-align: center;

      div {
        span {
          display: inline-block;
          width: 55px;
        }
      }
    }
  }

  .unit {
    font-size: 48px;
    color: #222;
  }
}
