@use '@/style/package' as *;

.professor {
  display: grid;
  grid-row-gap: 10px;
  background-color: #ffffff;
  border-radius: 0.4rem;
  padding: 0.6rem 0.8rem;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: -0.05em;
  line-height: 1.2;
  color: $color-gray-900;

  .professor-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  img {
    width: 15px;
    top: 10rem;
  }

  div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .professor-name {
    font-size: 16px;
  }

  .professor-position {
    font-size: 12px;
  }

  .professor-school {
    font-size: 12px;
  }

  .professor-department {
    font-size: 5px;
  }

  .professor-email {
    font-size: 5px;
  }
}
